{% extends 'base.html' %}
{% load static %}

{% load widget_tweaks %}
{% block content%}
<div class= "container">
<div class="row">
  <div class="col-sm-3">
    <form method="get" style="background-color:lightblue;">
      {{ filter.form.as_p }}
      <button type="submit">Search</button>
    </form>
  </div>
  <div class="col-sm-9" style="background-color:cornSilk;">


      <div class="row">
{% for i in videos.object_list %}
    <div class="col-sm-4">
        <a href="/search/{{i.url_title }}/">
                <img class="img-responsive" src="{{i.photo.url }}"  style="width:200px ;height:200px">
                <br>
                <h>{{i.title}}</h>
                </a>
    </div>
    {% if forloop.counter|divisibleby:3%}
</div>
<div class="row">
    {% endif %}
{% endfor %}
</div>




        <ul class="pagination">
              {% if videos.has_previous %}
                <li><a href="{{request.get_full_path}}&page={{ videos.previous_page_number }}">&laquo;</a></li>
              {% else %}
                <li class="disabled"><span>&laquo;</span></li>
              {% endif %}
              {% for i in videos.paginator.page_range %}
                {% if videos.number == i %}
                  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                  <li><a href="{{request.get_full_path}}&page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if videos.has_next %}
                <li><a href="{{request.get_full_path}}&page={{ videos.next_page_number }}">&raquo;</a></li>
              {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
            </ul>




  </div>

</div>

</div>


{% endblock %}
